@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-oliver: #1c6758;
  --color-grass: #3d8361;
  --color-land: #d6cda4;
  --color-jade: #eef2e6;
}

.container-narrow {
  @apply mx-auto max-w-[900px] min-w-[350px] px-4;
}

.container-broad {
  @apply mx-auto max-w-[1200px] min-w-[350px] px-4;
}

:root {
  font-family:
    Noto Sans,
    Noto Sans TC,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin';
  src: url('/fonts/GenRyuMin2TW-R.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin';
  src: url('/fonts/GenRyuMin2TW-B.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.hover-wiggle:hover {
  animation: wiggle 0.3s ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
