@import "tailwindcss";

@theme {
  --color-oliver: #1c6758;
  --color-grass: #3d8361;
  --color-land: #d6cda4;
  --color-jade: #eef2e6;
}

.container-narrow {
  @apply mx-auto max-w-[900px] min-w-[360px] px-4;
}

.container-broad {
  @apply mx-auto max-w-[1200px] min-w-[480px] px-4;
}

:root {
  font-family:
    Noto Sans,
    Noto Sans TC,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
